@import 'variables';

.pagination-holder {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: center;

    .page-number-holder {
        border-radius: 5px;
        color: $blue-gray-dark;
        font-size: large;
        text-align: center;
        line-height: 25px;
        margin: 0 5px;
        height: 30px;
        width: 30px;

        &.selected {
            background-color: $blue-light;
            font-weight: 500;
        }
    }
}